<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Call</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        html,body{
            height: 100vh;
            width: 100vw;
            overflow-x: hidden;
        }
        .container{
            height: 90vh;
            width: 100vw;
            margin: 0 10vw
        }
        .para h1{
            margin: 0 0 20px 0;
            font-weight: 700;
            font-size: 3rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Geneva, Tahoma, serif;
        }
        .para p{
            margin: 20px 0 20px 0;
            font-size: 18px;
            color: rgba(0,0,0,0.7)
        }
        .para button{
            padding: 16px 42px;
            line-height: 18px;
            font-size: 18px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin:0 10px 0 0 ;
        }
    </style>
</head>
<body>
    
    <nav class="navbar d-flex justify-content-between align-items-center navbar-light" style="background-color:transparent;">
        <a class="navbar-brand" href="#">SIP 2020</a>
        <% if (user) { %>
            <div class="d-flex">
                <li class="nav-item list-unstyled">
                    <a class="nav-link text-dark" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item list-unstyled">
                    <a class="nav-link text-dark" href="#"><%= user.displayName %></a>
                </li>
            </div>
        <%} else { %>
            <a href="/google" id="login-btn" class=''><button class="btn btn-info">Login with Google</button></a>
        <% } %>
    </nav>
    <div class="container d-flex justify-content-center align-items-center row">
        <div class="para col-md-6 col-sm-12">
            <h1>E-Learning Software</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet  recusandae expedita, quisquam iure voluptatibus molestiae perferendis quas adipisci corrupti consectetur magnam veniam amet aliquid voluptate atque incidunt cumque!</p>
            <hr>
            <a href="/create"><button type="button" class="btn btn-info">Create Meeting</button></a>
            <a href="/join"><button type="button" class="btn btn-outline-info">Join Meeting</button></a>
        </div>
        <div class="img-container col-md-6 col-sm-12">
            <img src="Images/conference.png" class="img-responsive" alt="">
        </div>
    </div>
</body>
</html>