*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
} 
#video-grid{
    display: flex;
    justify-content: center;
    height: 500px;
    margin: 0
}
.row{
    min-height: 50vh;
}
.col-md-4{
    padding: 0;
}
video{
    /* height: 100%; */
    object-fit: cover;
}