.homebutton
{
    text-align: center;
    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.border
{
    border: red;
}

.form
{
    padding-left: 20px;
    padding-top: 20px;
}

.form-control
{
    width: 50%;
}